* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

.header {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-size: 50%;
  padding: 0.1px;
  position: relative;
}
.header .nav {
  width: 95%;
  margin: 2rem auto;
  padding: 20px 30px;
  border-radius: 8px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1000px) {
  .header .nav {
    background-color: transparent;
    box-shadow: none;
  }
}
.header .nav__logo {
  width: 150px;
  height: 40px;
}
.header .nav__options {
  position: absolute;
  top: 100px;
  left: 2.5%;
  background-color: #fff;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.6rem;
  padding: 6rem;
  width: 95%;
  transition: all 0.3s ease;
  margin: 1rem 0;
}
@media (min-width: 1000px) {
  .header .nav__options {
    flex-direction: row;
    position: initial;
    background-color: transparent;
    width: 70%;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
}
.header .nav__options .options__item {
  list-style: none;
  transition: all 0.2s ease;
}
.header .nav__options .options__item .item__link {
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: rgb(52, 58, 64);
  font-weight: 400;
  padding: 2px 0;
  margin: 1rem 0;
}
@media (min-width: 1000px) {
  .header .nav__options .options__item .item__link {
    font-size: 1.4rem;
  }
}
.header .nav__options .options__item .item__link:hover {
  color: #5d78ff;
}
.header .nav__options .options__item .link-w {
  color: #fff;
  letter-spacing: 0.2rem;
}
.header .nav__options .options__item .link-w:hover {
  color: #fff;
}
.header .nav__options .options__item:hover {
  color: #5d78ff;
}
.header .nav__options .item-bg {
  background-color: #5d78ff;
  padding: 15px 45px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.header .nav__options .item-bg:hover {
  background: #3758ff;
  box-shadow: 0 8px 20px rgba(56, 87, 241, 0.3);
}
.header .nav__hamburguer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  cursor: pointer;
}
@media (min-width: 1000px) {
  .header .nav__hamburguer {
    display: none;
  }
}
.header .nav__hamburguer label.hamburger {
  display: block;
  background: #fff;
  width: 40px;
  height: 60px;
  position: relative;
  cursor: pointer;
}
.header .nav__hamburguer input#hamburger {
  display: none;
}
.header .nav__hamburguer .line {
  position: absolute;
  height: 2px;
  width: 100%;
  background: #5d78ff;
  transition: 0.5s;
}
.header .nav__hamburguer .line:nth-child(1) {
  top: 16px;
}
.header .nav__hamburguer .line:nth-child(2) {
  top: 28px;
}
.header .nav__hamburguer .line:nth-child(3) {
  top: 40px;
}
.header .nav__hamburguer #hamburger:checked + .hamburger .line:nth-child(1) {
  transform: translateY(12px) rotate(-45deg);
}
.header .nav__hamburguer #hamburger:checked + .hamburger .line:nth-child(2) {
  opacity: 0;
}
.header .nav__hamburguer #hamburger:checked + .hamburger .line:nth-child(3) {
  transform: translateY(-12px) rotate(45deg);
}
.header .nav .show {
  display: flex;
  transition: all 0.3s ease;
}
.header .hero {
  width: 90%;
  margin: 3rem auto;
}
.header .hero__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 65%;
}
.header .hero__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
@media (min-width: 1000px) {
  .header .hero__content {
    flex-direction: row;
    position: relative;
  }
  .header .hero__content::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 150px;
    background-image: url("../img/s.svg");
    object-fit: cover;
    z-index: -1;
  }
}
.header .hero__content .content__info {
  width: 100%;
  text-align: center;
  max-width: 500px;
}
@media (min-width: 1000px) {
  .header .hero__content .content__info {
    text-align: left;
  }
}
.header .hero__content .content__info .info__wellcome {
  font-size: 2rem;
  color: rgb(52, 58, 64);
  margin-bottom: 2rem;
  font-weight: 300;
}
.header .hero__content .content__info .info__profile {
  font-size: 4rem;
  color: #282f49;
  margin-bottom: 2rem;
  font-family: "Yeseva One", cursive;
  line-height: 1.3;
}
@media (min-width: 1000px) {
  .header .hero__content .content__info .info__profile {
    font-size: 6rem;
  }
}
.header .hero__content .content__info .info__description {
  font-size: 2.4rem;
  color: #5d78ff;
  line-height: 1.7;
  padding-bottom: 3rem;
}
.header .hero__content .content__info .info__cta {
  background-color: #5d78ff;
  padding: 2rem 3rem;
  color: #fff;
  border-radius: 0.7rem;
  text-decoration: none;
  display: inline-block;
  margin: 1rem 0 3rem 0;
  cursor: pointer;
  transition: all 0.3s ease;
}
.header .hero__content .content__info .info__cta:hover {
  background-color: #3758ff;
  box-shadow: 0 8px 20px rgba(56, 87, 241, 0.3);
  transform: scale(1.03);
}
.header .hero__content .content__fig {
  width: 90%;
  margin-bottom: 5rem;
  position: relative;
}
.header .hero__content .content__fig .illustration {
  width: 100%;
  -webkit-mask: url("../img/hero-mask-svg.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  position: relative;
  z-index: -1;
}
.header .hero__content .content__fig .thumb {
  width: 240px;
  height: 150px;
  position: absolute;
  bottom: calc(10% - 100px);
  left: calc(50% - 120px);
  border-radius: 1rem;
  display: flex;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.header .hero__content .content__fig .thumb .thumb1 {
  width: 100%;
  z-index: -1;
  border-radius: 1rem;
  object-fit: fill;
  position: relative;
}
.header .hero__content .content__fig .thumb::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: calc(50% - 25px);
  left: calc(50% - 25px);
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}
.header .hero__content .content__fig .thumb::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 15px solid #5d78ff;
  border-bottom: 10px solid transparent;
  display: inline-block;
  bottom: calc(50% - 10px);
  left: calc(50% - 5px);
  z-index: 1;
}
.header .hero__content .content__fig .thumb:hover::after {
  background-color: #5d78ff;
  transform: scale(1.1);
  box-shadow: 0 0 5px 0px #fff;
}
.header .hero__content .content__fig .thumb:hover::before {
  border-left: 15px solid #fff;
}
.header .hero__content .content__fig::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background: url("../img/figure-svg.svg");
  top: -50px;
  left: 10px;
  object-fit: cover;
  z-index: -2;
  animation: move_right 5s infinite linear;
}
@media (min-width: 1000px) {
  .header .hero__content .content__fig::after {
    width: 200px;
    height: 200px;
    left: calc(100% - 220px);
    animation: move_right_2 20s infinite linear;
  }
}
@keyframes move_right {
  0% {
    left: 10px;
  }
  50% {
    left: 30px;
  }
  100% {
    left: 10px;
  }
}
@keyframes move_right_2 {
  0% {
    left: calc(100% - 220px);
  }
  50% {
    left: 170px;
  }
  100% {
    left: calc(100% - 220px);
  }
}

.content {
  width: 100%;
  max-width: 1440px;
  margin: 5rem auto;
}
.content .about {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  text-align: center;
}
.content .about__title {
  font-family: "Yeseva One", cursive;
  font-weight: 500;
  line-height: 1.5;
  color: #282f49;
  font-size: 4rem;
}
.content .about__subtitle {
  font-size: 2rem;
  font-family: poppins, sans-serif;
  color: #5d78ff;
  font-weight: 400;
  margin-bottom: 2rem;
  max-width: 690px;
  line-height: 1.8;
}
.content .about__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1000px) {
  .content .about__container {
    flex-direction: row;
    gap: 0;
  }
}
.content .about__container .about__fig {
  width: 100%;
  max-width: 600px;
}
@media (min-width: 1000px) {
  .content .about__container .about__fig {
    width: 50%;
    z-index: -1;
  }
}
.content .about__container .about__fig .about-img {
  width: 100%;
  -webkit-mask: url("../img/about-mask-svg.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
}
@media (min-width: 1000px) {
  .content .about__container .about__fig .about-img {
    width: 115%;
  }
}
.content .about__container .about__info {
  max-width: 600px;
  padding: 3rem;
  background-color: #282f49;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
@media (min-width: 1000px) {
  .content .about__container .about__info {
    width: 60%;
    height: 540px;
    justify-content: center;
    text-align: left;
    gap: 4rem;
  }
}
.content .about__container .about__info .info__profile {
  color: #f8f9fa;
  font-size: 3rem;
  font-family: yeseva one, cursive;
  font-weight: 500;
}
@media (min-width: 1000px) {
  .content .about__container .about__info .info__profile {
    line-height: 1.5;
  }
}
.content .about__container .about__info .info__description {
  font-family: poppins, sans-serif;
  color: #f8f9fa;
  text-align: left;
  line-height: 1.7;
  font-size: 1.7rem;
}
@media (min-width: 1000px) {
  .content .about__container .about__info .info__description {
    line-height: 2;
  }
}
.content .about__container .about__info .info__cta {
  display: flex;
  gap: 2rem;
}
.content .about__container .about__info .info__cta .cta {
  background-color: #5d78ff;
  color: #f8f9fa;
  padding: 15px 30px;
  font-size: 1.8rem;
  border: 1px solid #5d78ff;
  border-radius: 0.5rem;
  cursor: pointer;
}
.content .about__container .about__info .info__cta .cta:hover {
  background-color: #3758ff;
  border-color: #2a4eff;
  box-shadow: 0 8px 20px rgba(56, 87, 241, 0.3);
  transform: scale(1.03);
}
.content .about__container .about__info .info__cta .cta-dw {
  background-color: #282f49;
  color: #5d78ff;
  transition: all 0.3s ease;
}
.content .about__container .about__info .info__cta .cta-dw:hover {
  color: #fff;
  background-color: #5d78ff;
  border-color: #5d78ff;
  box-shadow: 0 8px 20px rgba(56, 87, 241, 0.3);
  transform: scale(1.03);
}
.content .services {
  width: 90%;
  margin: 20rem auto;
  padding: 1rem;
  position: relative;
}
.content .services__background {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 65%;
}
.content .services__subtitle {
  color: #343a40;
  font-family: poppins, sans-serif;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 300;
}
.content .services__title {
  margin-bottom: 1.5rem;
  font-family: yeseva one, cursive;
  font-weight: 500;
  line-height: 1.2;
  color: #282f49;
  font-size: 5rem;
}
.content .services__description {
  max-width: 640px;
  font-family: poppins, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75;
  color: #7e7e8a;
  font-size: 2rem;
  margin-bottom: 5rem;
}
.content .services swiper-container {
  width: 100%;
  height: 540px;
}
.content .services swiper-container swiper-slide {
  height: 80%;
  background: #767d9f;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  border-radius: 1rem;
  padding: 1rem 2rem;
  box-shadow: 0 20px 40px 0 rgba(50, 65, 141, 0.12);
  border-radius: 2rem;
  background: #fff;
}
.content .services swiper-container swiper-slide .services__fig {
  position: relative;
  margin-bottom: 3rem;
}
.content .services swiper-container swiper-slide .services__fig::after {
  content: "";
  width: 98px;
  height: 94px;
  background: url("../img/bg-services.svg") no-repeat center;
  position: absolute;
  top: -30px;
  left: 20px;
  z-index: -1;
}
.content .services swiper-container swiper-slide .services__name {
  margin-bottom: 0.5rem;
  font-family: yeseva one, cursive;
  font-weight: 500;
  line-height: 1.2;
  color: #282f49;
  font-size: 2.2rem;
}
.content .services swiper-container swiper-slide .services__info {
  font-family: poppins, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.75;
  color: #7e7e8a;
  text-align: left;
}
.content .services swiper-slide img {
  display: block;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
